*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #e1e1e1;
    font-family: serif;
}

hr{
    color:black;
    width:96vw;
    margin-left: 2vw;
}

header a{
    color:white;
    text-decoration: none;
}

header img{
    text-align: left;
    position:absolute;
    height:9vw;
    margin-left:5vw;
    top:0.5vw;
}

header{
    background-size: 100%;
    height:10vw;
    width:100%;
    margin-top:0;
    background-color:black;
    position:relative;  
}

.nav-list {
    top:2vw;
    color: #fff;
    line-height: 7vw;
    position: absolute;
    left: 10vw;
    float: left;
    margin-left: 1vw;
    list-style: none;
    font-size: 2.5vw;
    margin-bottom: 10vw;
    padding:0;
    margin:0;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 6vw;
}

#matsuri{
    font-size: 5vw;
    margin-right: 10vw;
}


#taimen{
    margin-left: 5%;
    width: 90%;
    margin-bottom: 5vw;
}

#img1{
    width:40%;
    margin-left: 5vw;
}

.aisatsu{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom:10vw;
}

.aisatsu img{
    width:40vw;
    margin-left:5vw;
}
#aidaiji{
    font-size: 4vw;
    margin-top: 3vw;
    margin-right: 15vw;
    margin-bottom: 3vw;
}
#ai{
    font-size:2vw;
}

.sche{
    font-size: 4vw;
    margin-bottom:5vw;
}
#setu{
    font-size: 2.5vw;
}

.himatsuri{
    margin-bottom: 5vw;
    text-align: center;
}

#himatsuri{
    width: 96vw;
    margin-bottom: 5vw;
    text-align: center;
}

.sanka{
    margin-bottom:10vw;
    text-align: center;
}

footer {
    height: 10vw;
    text-align: center;
    padding-top:5vw;
    padding-bottom: 10vw;
    background-color:#fff;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 2vw;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: white;
  border-radius: 100vw;
}

a.btn--yellow {
    background-color: #9f000c;
    border-bottom: 5px solid #47000c;
  }
  
  a.btn--yellow:hover {
    margin-top: 3px;
    background: #9f000c;
    border-bottom: 2px solid #47000c;
  }

#t{
    margin-left: 10vw;
}

.links {
  font-size: 2vw;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: black;
  border-radius: 100vw;
  margin-bottom:2vw;
}

#r{
    margin-left: 10vw;
}
@media screen and (min-width:781px){
.twi a{
    display: none;
}
}
@media screen and (max-width:780px){
#twi2{
    display: none;
}
}


.twi{
    width: 80vw;
    margin-bottom: 10vw;
    margin-left:10vw;
}

footer{
    background-color: black;
}

footer a{
    color: white;
    text-decoration: none;
}

.nav-list2 {
    line-height: 2vw;
    list-style: none;
    font-size: 2vw;
    margin-left: 0vw;
}


.nav-list-item2 {
    display: inline-block;
    text-align: center;
    margin-bottom: 1vw;
    list-style: none;
    margin:0 4vw;
}

