body{
    font-family: kinuta-maruminshinano-stdn, serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(84,96,90);
    margin:0;
    padding:0;
}
hr{
    color: rgb(84,96,90);
    width:96%;
}

a{
    color:rgb(84,96,90) ;
    text-decoration: none;
}

header img{
    position:absolute;
    height:5vw;
    margin-left:5vw;
    top:0vw;
}

header{
    height:6vw;
    width:100%;
    background-color: #fff;
    position:relative;  
}

.nav-list {
    line-height: 3.5vw;
    position: absolute;
    left: 25vw;
    float: left;
    margin-left: 10px;
    list-style: none;
    font-size: 2vw;
    margin-bottom: 10vw;
    padding:0;
    margin:0;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 4vw;
}

footer {
    height: 10vw;
    text-align: center;
    padding:1vw 0;
    background-color:#fff;
    margin-bottom: 5vw;
    margin-top:5vw;
}
.nav-list2 {
    line-height: 2vw;
    list-style: none;
    font-size: 2vw;
    margin-left: -10vw;
}
.nav-list-item2 {
    display: inline-block;
    text-align: center;
    margin-bottom: 1vw;
    list-style: none;
    margin:0 4vw;
}


.daimei{
    text-align: left;
    font-size: 5vw;
    margin-left:10vw;
    margin-top: 20vw;
    margin-bottom: 4vw;
}

.honbun{
    line-height: 5vw;
    font-size: 2vw;
    text-align: left;
    margin-left:12vw;
    margin-bottom: 6vw;
}

.background-1{
    margin:0;
    padding:0;
    position:relative;
    width:100vw;
    height:30vw;
    background-attachment: fixed;
    background-repeat: no-repaet;
    background-size: cover;
    background-position: center;
    background-image: url("bg.png");
}
.background-2{
    margin:0;
    padding:0;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repaet;
    background-size: cover;
    background-position: center;
    background-image: url("bg_thin.png");
}
.year img{
    width:25vw;
    position: absolute;
    top:0;
    right:10vw;
}
.rogo img{
    width:25vw;
    position:absolute;
    top:23vw;
    left:10vw;
}
.background{
    background-color: #fff;
    padding-bottom:0vh ;
}
.nittei{
    text-align: left;
    font-size:3.5vw;
    margin-left:12vw;
    margin-top:1vw;
    margin-bottom:2vw;
}
.haifu{
    margin-top: 15vw;
    text-align: left;
    font-size: 5vw;
    padding-top:15vw;
    margin-left:10vw;
    margin-bottom: 6vw;
}
.haifu2{
    text-align: left;
    font-size:3vw;
    margin-left:12vw;
}
.haifunaiyou p{
    line-height: 6vw;
    font-size: 2vw;
    text-align: left;
    margin-left:12vw;
    margin-top:0;

}
.kanso{
    text-align: center;
    padding:5vh;
    font-size:2.3vw;
    margin-top:7vw;
}
.background2{
    background-color: #fff;
}
.btn,
a.btn,
button.btn {
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1vw 2.5vw;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: rgb(84,96,90);
}
.button{
    margin-top:1vh;
    margin-left:10vw;
    padding-bottom: 3vw;
    margin-bottom: 10vw;
}
.button2{
    margin-top:6vw;
    margin-left:12vw;
    padding-bottom: 15vw;
}

@media screen and (min-width:781px){
    .brss{
        display:none;
    }
    .brsss{
        display:none;
    }
}

@media screen and (max-width:780px){
    header img{
        top:-1vw;
    }

    .nav-list {
        line-height: 3vw;
        font-size: 2.5vw;
        left: 20vw;
    }
    
    .daimei{
            margin-top: 30vw;
    }
    .honbun{
        line-height: 8vw;
        font-size: 2.8vw;
        margin-top: 7vw;
        margin-bottom: 10vw;
    }
    .background-1{
        height:30vw;
        background-attachment: fixed;
    }
    .background-2{
        margin-bottom:0vw;
        position:relative;
        width:100vw;
    }
    .year img{
        width:30vw;
        right:5vw;
    }
    .rogo img{
        width:30vw;
        position:absolute;
        top:22vw;
        left:5vw;
    }
    .nittei{
        font-size:4vw;
    }
    .haifu{
        padding-top:15vw;
    }
    .haifunaiyou p{
        font-size: 2.8vw;
        margin-bottom:1vh;
    }
    .background2{
        background-color: #fff;
    }
    .kanso{
        font-size:3vw;
    }
    .btn,
    a.btn,
    button.btn {
        font-size: 2.5vw;
        font-weight: 700;
        line-height: 1.5;
        position: relative;
        display: inline-block;
        padding: 1vw 2.5vw;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        letter-spacing: 0.1em;
        color: rgb(84,96,90);
    }
    .button{
        padding-bottom: 10vw;
    }
    .button2{
        padding-bottom: 15vw;
    }

    .nav-list2 {
        line-height: 2vw;
        list-style: none;
        font-size: 3vw;
        margin-left: -10vw;
    }
}

.btn{
    color:rgb(84,96,90);
    background-color:#fff;
    border-radius: 100vh;
    border:2px solid rgb(84,96,90);
}

.button3{
    margin-top:6vw;
    margin-bottom: 6vw;
}